.gamebody {
  background-color: tomato;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameframe {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
